{
    "newRelicConfig": {
        "enabled": false,
        "licenseKey": "<your-newrelic-license>",
        "appName": "<newrelic-app-name>"
    },
    "gasTickerConfig": {
        "apiKey": "<your-ethgasstation-api-key>",
        "discordBotKey": "<your-discord-bot-api-key>",
        "guildID": "<your-discord-guild-id>"
    },
    "priceTickerConfig": {
        "coinList": [
            {
                "id": "DOGE",
                "coingeckoID": "dogecoin",
                "decimalPlace": 4,
                "vsCurrencies": "USD",
                "discordBotKey": "<your-discord-bot-api-key>",
                "guildID": "<your-discord-guild-id>"
            }
        ]
    }
}
