{
    "priceTickerConfig": {
        "coinList": [
            {
                "id": "DOGE",
                "decimalPlace": 4,
                "vsCurrencies": "USD",
                "discordBotKey": "test",
                "guildID": "test"
            }
        ]
    }
}