{
    "gasTickerConfig": {
        "apiKey": "test",
        "discordBotKey": "test.test.test",
        "guildID": "test"
    },
    "priceTickerConfig": {
        "coinList": [
            {
                "id": "DOGE",
                "decimalPlace": 4,
                "vsCurrencies": "USD",
                "discordBotKey": "test.test.test",
                "guildID": "test"
            }
        ]
    }
}